* {
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #f5d04e;
}

.container {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin: auto;
  background-color: #fff;
  width: 20rem;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 2.5vh;
  box-shadow: 5px 5px 10px black;
}

.container svg {
  border-radius: 2vh;
  /* max-width: 100%; */
}

.subContainer {
  /* display: flex; */
  flex-direction: column;
  
}

.subContainer h3 {
    font-weight: 900;
}

.subContainer h4 {
    font-weight: 400;
}

.subContainer h1 {
    font-weight: 900;
}

.subContainer h1:hover {
  color: #f0d560;
  cursor: pointer;
}

.subContainer h3 {
  background-color: #f3d14f;
  padding: 0.5rem;
  max-width: 4.8rem;
  border-radius: 1vh;
  font-weight: 900;
}

.avatar {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 1rem;
}
