* {
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #f5d04e;
  display: grid;
  align-content: center;
}

.container {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  margin: 10rem auto;
  background-color: #fff;
  width: 23rem;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 2.5vh;
  box-shadow: 8px 8px 0 0 #000;
}

.container img {
  width: 100%;
  border-radius: 2vh;
  /* max-width: 100%; */
}

.subContainer {
  flex-direction: column;
  
}

.subContainer h4 {
    font-weight: 400;
}


.subContainer h1:hover {
  color: #f0d560;
  cursor: pointer;
}

.subContainer p{
  color: #808080;
}

.subContainer h3 {
  background-color: #f3d14f;
  padding: 0.5rem;
  max-width: 4.8rem;
  border-radius: 1vh;
  font-weight: 900;
}

.avatar {
  display: flex;
  align-items: center;
  width: 6rem;
  height: 2rem;
  gap: 1rem;
}

