body {
  background-color: #d5e1ef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  padding: 1rem;
  margin: 10rem auto;
  background-color: #fff;
  border-radius: 2.5vh;
}

.container img {
  max-width: 100%;
  height: 20rem;
  border-radius: 1vh;
}

.subContainer {
  text-align: center;
}

.subContainer h1 {
    font-size: 1.7rem;
    color: #1f2c45;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subContainer p {
    color: #a7aaac;
}
