.formContainer {
  /* border: 2px solid blue ; */
  display: flex;
  flex-direction: column;
}

.emailInfos {
  display: flex;
  justify-content: space-between;
}

.emailAddress {
  font-size: 13px;
}

.invalidEmail {
  font-size: 13px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input {
  margin-top: 10px;
  padding: 1rem;
  border-radius: 1vh;
  border: 1px solid rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.input:checked {
  border: 1px solid black;
}

.button {
  border-radius: 1vh;
  border: none;
  color: var(--White);
  background-color: var(--DarkSlateGrey);
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(to right, #ff5379, #ff693d);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
